.login{
    -fx-background-color: none;
    -fx-border-color: #42a7f5;
    -fx-arrows-visible: left;
    -fx-background-radius: 10px;
}
.login:hover{
    -fx-background-color: #42a7f5;
    -fx-cursor: pointer;
}
.comb{
    -fx-background-color: lightblue;
}
.login:hover{
    -fx-background-color: #eb0ff3;
}

.register{
    -fx-background-color:none;
    color: #3891ff;
}
.register:hover{
    -fx-underline: #3891ff;
    -fx-cursor: pointer;
}
.txtbox{
    -fx-background-radius:16px ;
    -fx-background-color: transparent;

}
.img{
    -fx-background-image: url("../images/iStock-507009337-171002.png");
    -fx-background-size: cover;
}
.textarea {
   -fx-border-radius: 10px;
}

.imgstd{
    -fx-background-image: url(../images/student-icon-transparent-28.jpg);
    -fx-background-size: cover;
}