.login{
    -fx-background-color: #4747f3;
}
.login:hover{
    -fx-background-color: #eb0ff3;
}

.register{
    -fx-background-color:none;
    color: #3891ff;
}
.register:hover{
    -fx-underline: #3891ff;
    -fx-cursor: pointer;
}
.txtbox{
    -fx-border-style: none;
}
.img{
    -fx-background-image: url("../images/iStock-507009337-171002.png");
    -fx-background-size: cover;
}
.textarea {
   -fx-border-radius: 10px;
}