.login{
    -fx-background-color: none;
    -fx-border-color: #42a7f5;
    -fx-arrows-visible: left;
    ;
}
.login:hover{
    -fx-background-color: #42a7f5;
    -fx-border-radius: 09px;
    -fx-cursor: pointer;
}
.comb{
    -fx-background-color: lightblue;
}
.login:hover{
    -fx-background-color: #eb0ff3;
}

.register{
    -fx-background-color:none;
    color: #3891ff;
}
.register:hover{
    -fx-underline: #3891ff;
    -fx-cursor: pointer;
}
.txtbox{
    -fx-background-radius:16px ;
    /*-fx-background-color: transparent;*/

}
.img{
    -fx-background-image: url("../images/iStock-507009337-171002.png");
    -fx-background-size: cover;
}
.textarea {
   -fx-border-radius: 10px;
}

.imgstd{
    -fx-background-image: url(../images/student-icon-transparent-28.jpg);
    -fx-background-size: cover;
}

.border {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}
.logo{
    -fx-background-image: url(../images/logo.jpeg);
    -fx-max-height: 500px;
    -fx-max-width: 400px;
}
* {
    -fx-primary-color: #007acc;
    -fx-secondary-color: #4B6EBF;
    -fx-grey-color: #b9b9b9;

    -fx-focus-color: -fx-secondary-color;
}

.text-field {
    -fx-accent: -fx-primary-color;
    -fx-background-color: -fx-grey-color, white;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 0;

}
.text-field:focused {
    -fx-background-color: -fx-primary-color, white;
}